Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Caching==2.3.0
Flask-Mail==0.10.0
Flask-SocketIO==5.3.6
Flask-Compress==1.14
Flask-Assets==2.0
python-dotenv==1.0.1
gunicorn==21.2.0
gevent==23.9.1
gevent-websocket==0.10.1
